<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <figure><h1>Catalify</h1><a href="{{url_for('addMovie')}}" id="add-btn"><img src="../static/img/add-icon.png"></a></figure>
        <div class="search-query"><form method="POST"><input type="text" placeholder="Busca entre {{movieCount}} peliculas"><button type="submit"><img src="../static/img/search-icon.png"></button></form></div>
    </header>
    <section id="presentation">
        <div class="presentation-target cdp-container">
            <h1>Bienvenido a Catalify</h1>
            <p>¡El lugar donde lo unico que no podras encontrar es el tiempo para ver todo!</p>
        </div>
    </section>
    <section id="movies-sec">
        <h1 class="wT">Todas nuestras peliculas</h1>
        <div class="flex-movies cdp-container">
            {%for movie in movies%}
            <div class="movie-card">
                <p class="movieTitle">{{movie.title}}</p>
                <img src="{{movie.imglink}}" class="movie-card-img">
                <figure class="flex-button">
                    <a href="/detail/{{movie.id}}" class="buttons-card"><figure>...</figure></a>
                    <a href="/edit/{{movie.id}}" class="buttons-card"><img src="../static/img/edit-icon.png"></a>
                    <a href="/remove/{{movie.id}}" class="buttons-card"><img src="../static/img/trash-icon.png"></a>
                </figure>
            </div>
            {%endfor%}
        </div>
    </section>
</body>
</html>